$aside: 150px;
$aside_inactive:240px;
$leftward: 25px;
.padding {
    padding: 15px 25px 0px 25px;
    @include respond(tab) {
        padding: 10px 20px;
    }
}

.dropdown-menu {
    padding: 12px;
    border: none;
    @include background;
    min-width: 220px;
    li {
        margin-top: 0px;
        padding: 4px 0px;
        font-size: 16px;
        a {
            &:hover,
            &:focus,
            &:visited {
                background: none;
                color: $dark;
            }
        }
    }
}

div.dropdown {
    @include transition;
    button.clicker {
        font-weight: 400;
    }
    span {
        color: $dark;
    }
    &:hover .expand_content {
        color: $white;
    }
}

div.notification_dropdown {
    button.notify {
        position: relative;
        div.notification_number {
            position: absolute;
            font-size: 10px;
            border-radius: 50%;
            background: red;
            width: 15px;
            height: 15px;
            @include flex(no);
            top: 0px;
            right: 0px;
            color: $white;
        }
    }
    &>ul {
        border: none;
        box-shadow: 0px 4px 10px rgba(41, 44, 50, 0.08);
        min-width: 300px;
        padding: 0px;
        // @include transition;
        li {
            @include transition;
            padding: 12px 8px;
            border-bottom: 1px solid $lightgrey;
            div.row_header {
                div.notification_list_extras {
                    padding: 10px 0px;
                    display: flex;
                    margin-right: 8px;
                    button.notification_list_delete {
                        @include button_naked;
                        margin-left: 8px;
                        // svg {
                        //     transform: scale(1.1);
                        // }
                    }
                }
            }
            &.show_notifications {
                width: 100%;
                @include flex(no);
                background: rgba($lightblue, .5);
                color: $dark;
                border: none;
                padding: 8px 0px;
            }
        }
    }
}

section.dashboard_nav {
    display: flex;
    @include respond(tab) {
        flex-direction: column;
    }
    aside {
        @include transition;
        @include flex(yes);
        height: 100vh;
        @extend .padding;
        position: relative;
        width: $aside;
        // border-right: 1px solid $bordergrey;
        @include respond(tab) {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            border: none;
            height: auto;
            border-bottom: 1px solid $bordergrey;
        }
        a.navbar-brand {
            margin-right: 0px;
            @include flex(no);
            @include respond(tab) {
                z-index: 5;
                backdrop-filter: blur(5px);
            }
            img {
                transform: scale(.8);
            }
            span.expand_content {
                color: $dark;
                padding-top: 15px;
                &:visited,
                &:hover {
                    color: $dark;
                }
            }
        }
        div.responsive_content {
            display: none;
            @include respond(tab) {
                @include flex(no);
                justify-content: flex-end;
                z-index: 5;
                backdrop-filter: blur(5px);
                width: calc(100% - 150px);
            }
            div.responsive_content_nav {
                @include transition;
                svg {
                    transform: scale(2);
                    @include transition;
                }
            }
            svg {
                margin-left: 15px;
            }
        }
        &>section {
            position: fixed;
            padding: 15px 0px;
            @include flex(yes);
            height: 100%;
            justify-content: space-between;
            @include transition;
            // align-items: flex-start;
            @include respond(tab) {
                opacity: 0;
                pointer-events: none;
                top: 0px;
                right: 0px;
                width: 0px;
                height: 100vh;
                overflow-y: scroll;
                justify-content: flex-start;
                @include respond(tab) {
                    padding: 85px 25px 0px;
                }
            }
            &>div {
                @include flex(yes);
                height: 100%;
                justify-content: space-between;
            }
            span.expand_content {
                display: block;
            }
            div.btn-group {
                @include mp;
                box-shadow: none;
            }
            div.dropup {
                @include respond(tab) {
                    margin-top: 20px;
                }
                span {
                    color: $icongrey;
                    padding-left: 10px;
                }
            }
            a {
                @include flex(yes);
                @include transition;
                color: black;
            }
            ul.navbar_main_content {
                @include flex(yes);
                @include respond(tab) {
                    padding: 0px 5px;
                }
                &>li {
                    margin-bottom: 20px;
                    a,
                    div {
                        color: $dark;
                        font-size: 14px;
                        svg {
                            transform: scale(.8);
                            path {
                                fill: $icongrey;
                            }
                        }
                        &:hover {
                            padding: 10px 13px;
                            background: $orangeheader;
                            color: $white;
                            border-radius: 8px;
                        }
                        &:hover svg>path {
                            fill: white;
                        }
                    }
                }
            }
        }
        &>.active_section {
            z-index: 3;
            opacity: 1;
            pointer-events: all;
            top: 0px;
            right: 0px;
            width: 400px;
            max-width: 100vw;
            height: 100vh;
            background: $white;
        }
    }
    div.dropdown {
        svg:not([class="responsive_content_nav_icon"]) {
            transform: scale(.8);
        }
    }
    div.body_main {
        background: #FAFAFA;
        @include transition;
        width: calc(100vw - 150px);
        @include respond(tab) {
            width: 100%;
        }
        div.container-main {
            @include respond(tab) {
                border: none;
                width: 100vw;
                min-height: 90vh;
                border-radius: 0px;
                // background: rgba(#EFF1F5, .5);
            }
            div.dashboard_container {
                margin: 30px 0px;
                div.dashboard_single {
                    background: $white;
                    border-radius: 25px;
                    border: none;
                    padding: 15px 20px;
                }
            }
        }
        div.container-main,
        div.dashboard-single-main,
        div.nav_main_header {
            @extend .padding;
        }
        div.dashboard_single_container {
            @include grid(4);
            gap: 0px $leftward;
            @include respond(tab) {
                @include grid(3);
                gap: 25px;
            }
            @include respond(lphone) {
                @include grid(2);
                gap: 25px;
            }
            @include respond(phone) {
                @include grid(1);
                gap: 25px 0px;
            }
        }
        div.dashboard_graph_container {
            // div.dashboard_first_canvas {
            //     grid-area: line_chart;
            // }
            div.dashboard_second_canvas {
                padding-left: $leftward;
                div.dashboard_second_canvas_inner {
                    height: 100%;
                }
            }
        }
        div.dashboard_bottom_tables_container {
            @include grid(2);
            gap: 0px $leftward;
            @include respond(lphone) {
                @include grid(1);
                gap: 25px 0px;
            }
        }
        div.nav_main_header {
            display: flex;
            justify-content: space-between;
            h2 {
                @include mp;
            }
            p {
                @include mp;
            }
            div.nav_side {
                @include flex(yes);
            }
        }
    }
    form {
        position: relative;
        width: 100%;
        ul.searchoptions,
        ul#search_result {
            display: none;
            @include transition;
            position: absolute;
            width: 100%;
            // bottom: 0;
            @include background;
            z-index: 3;
            background: $white;
            border: none;
            li {
                padding: 15px;
                font-size: 14px;
                background: none;
                @include transition;
                &:hover {
                    background: rgba($lightgrey, .2);
                }
            }
        }
        div.input-group {
            margin-right: 30px;
            border: none;
            background: $white;
            width: 100%;
            outline: none;
            border-radius: 10px;
            padding: 10px 8px;
            @include flex(no);
            justify-content: flex-start;
            &>span.input-addon {
                background: none;
                border: none;
                height: 20px;
                svg {
                    transform: scale(.8);
                }
                // &:last-child {
                //     border-left: 1px solid #B2B4BE;
                // }
            }
            input {
                border: none;
                background: none;
                &:hover,
                &:active,
                &:focus {
                    box-shadow: none;
                    border: none;
                }
            }
        }
    }
    .active_main {
        width: calc(100vw - 240px);
        @include respond(tab) {
            width: 100%;
        }
    }
    button.clicker {
        @include mp;
        @include flex(no);
        background: none;
        outline: none;
        border: none;
        box-shadow: none;
        &:active,
        &:hover,
        &:focus {
            box-shadow: none;
        }
        &::after {
            display: none;
        }
    }
    .active {
        width: $aside_inactive;
        @include respond(tab) {
            width: 100%;
        }
        &>section {
            align-items: flex-start;
        }
        ul.navbar_main_content {
            justify-content: flex-start;
            align-items: flex-start;
            li {
                width: 100%;
            }
        }
    }
}

div.dashboard_bottom_tables_container {
    div.dashboard_single {
        div.table_top {
            display: flex;
            justify-content: space-between;
        }
    }
}